/* fonts.css */
@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Regular-BF6487cfe600a81.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Regular-BF6487cfe600a81.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Bold-BF6487cfe5cfe3d.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Bold-BF6487cfe5cfe3d.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Extrabold-BF6487cfe5e8eff.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Extrabold-BF6487cfe5e8eff.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Light-BF6487cfe5eb596.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Light-BF6487cfe5eb596.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Medium-BF6487cfe5e2078.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Medium-BF6487cfe5e2078.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Oceanic';
    src: url('fonts/TRIAL_Oceanic-Poster-BF6487cfe5ecab1.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Poster-BF6487cfe5ecab1.woff') format('woff');
    font-weight: 900;
}

/* Текстовые варианты (если нужны отдельно) */
@font-face {
    font-family: 'Oceanic Text';
    src: url('fonts/TRIAL_OceanicText-Bold-BF6487cfe5d76e7.woff2') format('woff2'),
         url('fonts/TRIAL_OceanicText-Bold-BF6487cfe5d76e7.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Oceanic Text';
    src: url('fonts/TRIAL_OceanicText-Book-BF6487cfe5da4b1.woff2') format('woff2'),
         url('fonts/TRIAL_OceanicText-Book-BF6487cfe5da4b1.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Oceanic Text';
    src: url('fonts/TRIAL_Oceanic-Text-Extrabold-BF6487cfe5ac6a0.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Text-Extrabold-BF6487cfe5ac6a0.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Oceanic Text';
    src: url('fonts/TRIAL_OceanicText-Medium-BF6487cfe5dde8c.woff2') format('woff2'),
         url('fonts/TRIAL_OceanicText-Medium-BF6487cfe5dde8c.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Oceanic Text';
    src: url('fonts/TRIAL_Oceanic-Text-Regular-BF6487cfe5c94ea.woff2') format('woff2'),
         url('fonts/TRIAL_Oceanic-Text-Regular-BF6487cfe5c94ea.woff') format('woff');
    font-weight: 400;
}